//main: ./main.scss
.fond{
  background-image: url("../images/fondbrigade.jpg");
}
.ui{
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;

  > li {
    height: 100vh;
    width: 15em;
    display: inline-flex;
    align-items: center;

    &:hover div {
      opacity: 0.6;
      height: 50vh;
      transition: .5s ease-in-out;
      p{
        margin-top: 12.5em;
        display: inline-block;
        font-size: 2.5em;
        color: white;
        font-family: 'Arvo', serif;
      }
    }

    div {
      border: 1px solid black;
      transform: scale(0.9, 0.9) skewY(10deg);
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: white;
      transition: .5s ease-in-out;
      width: 15em;
      height: 100%;
      p{
        display: none;
      }
    }
  }
  .backunder{
    background-image: url("../images/kuroro.png");
  }
  .backunder1{
    background-image: url("../images/phinks.png");
  }
  .backunder2{
    background-image: url("../images/feitan.png");
  }
  .backunder3{
    background-image: url("../images/sharnalk.jpg");
  }
  .backunder4{
    background-image: url("../images/machi.png");
  }
  .backunder5{
    background-image: url("../images/nobunaga.png");
  }
  .backunder6{
    background-image: url("../images/pakunoda.png");
  }
  .backunder7{
    background-image: url("../images/uvo.png");
  }
}
