//main: ./main.scss
  .fondPhinks{
    background-image: url("../images/phinksfond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    padding-top: 2em;
  }
  .titrePhinks{
    font-size: 4em;
    color: #829900;
    font-family: 'Arvo', serif;
    margin-top: 0;
    text-align: center;
  }
  .Phinks{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    >li{
      margin-left: 10em;
      margin-right: 10em;
      margin-top: 10em;
      color: #829900;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .textPhinks {
      font-family: 'Arvo', serif;
      line-height: 2em;
      font-size: 1.2em;
    }
    .imgPhinks{
      background-image: url("../images/phinks1.jpg");
      background-size: cover;
      height: 50vh;
      width: 45vh;
    }
  }
  .Phinks2{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    >li{
      margin-left: 10em;
      margin-right: 10em;
      margin-top: 20em;
      margin-bottom: 15em;
      color: #829900;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
    .textPhinks2{
      font-family: 'Arvo', serif;
      line-height: 2em;
      font-size: 1.2em;
    }
    .imgPhinks2{
      background-image: url("../images/phinks2.jpg");
      background-size: cover;
      height: 50vh;
      width: 45vh;
    }
